extends ../template/layout

block content 
    div.profile__data
        if loggedInUser.avatarUrl 
            img(src=loggedInUser.avatarUrl).avatar
            //- img(src= "/" + loggedInUser.avatarUrl).avatar
        else 
            img(src="https://jutube-a.s3.us-east-2.amazonaws.com/images/25406be95c33217e849ef0393fb6f627")
    form(method="POST" enctype="multipart/form-data").edit-user__form
        label(for="avatar") 프로필 사진   
        input(id="avatar" name="avatar" type="file" accept="image/*")
        input(name="name" type="text" placeholder="이름" value=loggedInUser.name required minLenth="1")
        input(name="email" type="email" placeholder="이메일" value=loggedInUser.email required minLenth="1")
        input(name="userId" type="text" placeholder="아이디" value=loggedInUser.userId required minLenth="1")
        input(name="location" type="text" placeholder="도시" value=loggedInUser.location required minLenth="1")
        input(type="submit" value="수정")
        if !loggedInUser.socialOnly
            div.edit-user__password
                a(href="password") 비밀번호 변경 &rarr;